<%- include('../includes/admin-nav.ejs') %>
    <div class="pg-header">
        <div class="pagetitle">
            <h1>
                <%= pageTitle %>
            </h1>
        </div>

        <a href="/admin/add-item">

            <h5 class="d-flex justify-content-end"><button type="button" class="new-btn"><i
                        class="fa-solid fa-circle-plus"></i>New Item</button>
            </h5>
        </a>

    </div>

    <%- include('../includes/end.ejs') %>