<%- include('../includes/admin-nav.ejs') %>



    <div class="pg-header">
        <div class="pagetitle">
            <h1>
                <%= pageTitle %>
            </h1>
        </div>
        <a href="/admin/add-purchase">

            <h5 class="d-flex justify-content-end"><button type="button" class="new-btn"><i
                        class="fa-solid fa-circle-plus"></i>Add New</button>
            </h5>
        </a>
    </div>


    <section class="section">
        <div class="row align-items-top">

            <div class="col-lg-12">
                <div class="card-dashboard">
                    <div class="card-body">
                        <div class="card">

                            <table id="items" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Purchase Order#</th>
                                        <th scope="col">Reference#</th>
                                        <th scope="col">Supplier Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Expected Delivery Date</th>
                                        <!-- <th scope="col">Data</th>
                                    <th scope="col">Quantity</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script>
        $(document).ready(function () {
            $.noConflict();
            var dataSet = [];
            {
            }
            $.ajax({
                url: 'http://localhost:3000/admin/items-json',
                dataType: "json",
                error: function (request) {
                    alert("Error " + request);
                },
                success: function (array) {
                    for (var i = 0; i < array.length; i++) {
                        dataSet.push([array[i]._id
                            , array[i].name
                            , array[i].description
                            , array[i].userId
                        ]);
                    }
                    var table = $('#stock').DataTable({
                        data: dataSet,
                        responsive: true,
                        scrollX: 200,
                    });
                }
            });
        });
    </script>

    <%- include('../includes/end.ejs') %>