
<header>
    <div class="wrapper">
        <nav>
            <ul>
                <div class="logo">
                    <img src="/images/landing-pages/logo.png" alt="">
                </div>
                <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
                <li><a class="<%= path === '/features' ? 'active' : '' %>" href="/features">Features</a></li>
                <li><a class="<%= path === '/pricing' ? 'active' : '' %>" href="/pricing">Pricing</a></li>
            </ul>

            <ul>
                <div class="hstack gap-4">
                    <li><a href="/signup" class="sign-up">SIGN UP</a></li>
                    <div class="vr bg-dark"></div>

                    <li><a href="/login" class="btn-sign-in">SIGN IN NOW</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>

  
