<%- include('../includes/home-header.ejs') %>
    <link rel="stylesheet" href="/css/about-us.css">


    <body>
        <%- include('../includes/home-nav.ejs') %>
            <section class="main">
                <div class="row">
                    <h1>About Us</h1>
                </div>
                <div class="container">
                    <div class="column-1">
                        <div class="row text">
                            <p>Welcome to our story! At RW Inventory, we understand the challenges that come with
                                inventory management. Whether you're a small business or a large enterprise, staying on
                                top of inventory levels, tracking stock movements, and optimizing supply chains can be a
                                complex and time-consuming task. That's why we developed our cutting-edge inventory
                                management system application.
                            </p>
                        </div>
                        <div class="row image">
                            <img class="img-1" src="/images/landing-pages/team-goal.png" alt="">
                        </div>
                    </div>
                    <div class="column-2">
                        <div class="row image">
                            <img class="img-2" src="/images/landing-pages/team-work.png" alt="">
                        </div>
                        <div class="row text">
                            <p>Our team of dedicated professionals is passionate about simplifying and streamlining
                                inventory management processes. With our expertise in technology and deep understanding
                                of business operations, we have created a powerful and user-friendly application that
                                empowers businesses to take control of their inventory.

                            </p>
                        </div>

                    </div>

                </div>
            </section>
            <%- include('../includes/home-footer.ejs') %>