<%- include('../includes/home-header.ejs') %>

  <link rel="stylesheet" href="/css/contact-us.css">
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../includes/home-nav.ejs') %>


      <div class="main">
        <div class="container">
          <div class="content">
            <div class="left-side">
              <div class="address details">
                <i class="fa fa-map-marker fa-3x"></i>
                <div class="topic">Address</div>
                <div class="text-one">Surkhet, NP12</div>
                <div class="text-two">Birendranagar 06</div>
              </div>
              <div class="phone details">
                <i class="fa fa-phone fa-3x"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+0098 9893 5647</div>
                <div class="text-two">+0096 3434 5678</div>
              </div>
              <div class="email details">
                <i class="fa fa-envelope fa-3x"></i>
                <div class="topic">Email</div>
                <div class="text-one">codinglab@gmail.com</div>
                <div class="text-two">info.codinglab@gmail.com</div>
              </div>
            </div>
            <div class="right-side">
              <div class="topic-text">Send us a message</div>
              <p>Have a question, concern, or feedback? We'd love to hear from you! Our team is here and ready to assist
                you in any way we can</p>
              <form action="#">
                <div class="input-box">
                  <input type="text" placeholder="Enter your name" />
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Enter your email" />
                </div>
                <div class="input-box message-box">
                  <textarea placeholder="Enter your message"></textarea>
                </div>
                <div class="button">
                  <input type="button" value="Send Now" />
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>



      <%- include('../includes/home-footer.ejs') %>