<%- include('../includes/home-header.ejs') %>

    <link rel="stylesheet" href="/css/features.css">
    </head>

    <body>
        <%- include('../includes/home-nav.ejs') %>

            <div class="hero-section">
                <div class="wrapper">
                    <h1>Effortlessly Track Your Inventory with Our System</h1>
                </div>
            </div>

            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <h1>Features List</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/time-management (1) 1.png" alt="">
                            </div>
                            <h3>Real-time Inventory Tracking</h3>
                            <p>You can keep tabs on your products' location, status, and availability, all in
                                real-time. Say goodbye to stockouts and waste, and hello to optimized inventory
                                management!</p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/qr-code (1) 1.png" alt=""></div>
                            <h3>Barcode Scanning</h3>
                            <p>Revolutionize your inventory management system. Simply scan the barcode of your
                                products, and our system will instantly update your inventory levels and location
                                information.</p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/order.png" alt=""></div>
                            <h3>Purchase Order Management</h3>
                            <p> Effortlessly manage your inventory purchasing process. Stay on top of your orders
                                and
                                shipments, and optimize your inventory management like a pro!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/check-list.png" alt=""></div>
                            <h3>Sales Order Management</h3>
                            <p>Enables the easy creation, management, and tracking of sales orders to ensure precise
                                and reliable order fulfillment.</p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/global.png" alt=""></div>
                            <h3>Stock Alerts</h3>
                            <p>Get instant notifications for low stock levels, expired products, and overstock
                                situations, so you can take action before it's too late.</p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/data-analytics.png" alt=""></div>
                            <h3>Reporting and Analytics</h3>
                            <p>Delivers instant notifications to users regarding low inventory levels, expired
                                products, and overstock scenarios, ensuring they are always aware of their inventory
                                status in real-time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/global1.png" alt=""></div>
                            <h3>Multi-location Management</h3>
                            <p>Seamlessly manage inventory across multiple locations or warehouses without the
                                headaches. Keep track of inventory with ease and focus on growing your business.</p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/centralized.png" alt=""></div>
                            <h3>User Access Control</h3>
                            <p>Allows you to assign varying levels of access and permissions to users based on their
                                roles, ensuring data security and streamlining teamwork. </p>
                        </div>
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/integration.png" alt=""></div>
                            <h3>Integration with accounting software</h3>
                            <p>Offers an effortless integration with your accounting software, paving the way for
                                streamlined inventory management and financial reporting.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4 column">
                            <div class="icon"><img src="/images/landing-pages/smartphone.png" alt=""></div>
                            <h3>Mobile Compatibility</h3>
                            <p>You can access your inventory management system effortlessly from your mobile device,
                                streamlining your workflow and keeping you productive. Stay ahead of the game and
                                manage your inventory on-the-go with our state-of-the-art feature!</p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../includes/home-footer.ejs') %>
    