<%- include('../includes/home-header.ejs') %>
  <link rel="stylesheet" href="/css/home.css">

  </head>

  <body>
    <!-- Navbar -->
    <%- include('../includes/home-nav.ejs') %>
      <!-- Hero -->
      <div class="hero-section">
        <div class="wrapper">
          <div class="left">
            <img src="/images/landing-pages/Man-with-boxes.png" alt="">
          </div>
          <div class="right">
            <h1>Helps you manage your inventory & business easily</h1>
            <p>Run a more efficient business with the best inventory management software</p>
            <a href="/login" class="btn-sign-in">SIGN IN NOW</a>
          </div>
        </div>
      </div>

      <!-- End of Hero -->
      <!-- Main -->
      <section class="main">
        <h1>Want to keep track of all your inventory?</h1>
        <div class="container">
          <div class="left">
            <div class="content">
              <p>Cloud based inventory management system that allows you to track your inventory and make changes across
                multiple brands.</p>
            </div>
          </div>
          <div class="right">
            <img src="/images/landing-pages/35569601.png" alt="">
          </div>
        </div>
        <h1>Affordable for Teams of All Sizes</h1>
        <div class="background-image">
          <div class="container">
            <div class="right">
              <img src="/images/landing-pages/35569611.png" alt="">
            </div>
            <div class="left">
              <div class="content">
                <p>Get started with our free version, and upgrade your inventory management plan when you need. There’s
                  no
                  set-up fees, long-term contracts, hidden charges, or consulting bills, just a low monthly rate for
                  each
                  inventory and user you add.</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="left">
              <div class="content">
                <h3>Great Support<img class="service" src="/images/landing-pages/Service.png" alt=""></h3>

                <p>We actively help clients think through their inventory management processes, help them configure
                  their
                  inventory, and even organize and upload their data. And if you call or email about an issue, you’ll
                  connect with a real person, right away.</p>
              </div>
            </div>
            <div class="right">
              <img src="/images/landing-pages/rafiki.png" alt="">
            </div>
          </div>
          <div class="container">
            <div class="right">
              <img src="/images/landing-pages/rafiki2.png" alt="">
            </div>
            <div class="left">
              <div class="content">
                <h3>Multiple Inventories<img class="warehouse" src="/images/landing-pages/Warehouse.png" alt=""></h3>
                <p>It’s easy to create multiple separate inventories whether it’s for different departments, different
                  items, or completely different uses. Switching among different inventories only takes a click.
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="left">
              <div class="content">
                <h3>Flexible<img class="tape" src="/images/landing-pages/Tape Measure.png" alt=""></h3>

                <p>Clearly Inventory can be used for a wide variety of situations including normal warehouse operations,
                  art
                  collections, pawn shops, manufacturers, charitible organizations tracking donations, tooling
                  inventory,
                  and so much more.

                </p>
              </div>
            </div>
            <div class="right">
              <img src="/images/landing-pages/amico.png" alt="">
            </div>
          </div>
        </div>
      </section>
  
  <!-- Eno of Main -->

  <!-- Site footer -->
  <%- include('../includes/home-footer.ejs') %>